In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('customers.csv')

In [4]:
df.head()

,customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit
0,103,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",NaN,Nantes,NaN,44000,France,1370.0,21000.0
1,112,Signal Gift Stores,King,Jean,7025551838,8489 Strong St.,NaN,Las Vegas,NV,83030,USA,1166.0,71800.0
2,114,"Australian Collectors, Co.",Ferguson,Peter,03 9520 4555,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,1611.0,117300.0
3,119,La Rochelle Gifts,Labrune,Janine,40.67.8555,"67, rue des Cinquante Otages",NaN,Nantes,NaN,44000,France,1370.0,118200.0
4,121,Baane Mini Imports,Bergulfsen,Jonas,07-98 9555,Erling Skakkes gate 78,NaN,Stavern,NaN,4110,Norway,1504.0,81700.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customerNumber          122 non-null    int64
 1   customerName            122 non-null    object
 2   contactLastName         122 non-null    object
 3   contactFirstName        122 non-null    object
 4   phone                   122 non-null    object
 5   addressLine1            122 non-null    object
 6   addressLine2            22 non-null     object
 7   city                    122 non-null    object
 8   state                   49 non-null     object
 9   postalCode              115 non-null    object
 10  country                 122 non-null    object
 11  salesRepEmployeeNumber  100 non-null    float64
 12  creditLimit             122 non-null    float64
dtypes: float64(2), int64(1), object(10)
memory usage: 12.5+ KB

In [6]:
df.describe()

       customerNumber  salesRepEmployeeNumber    creditLimit
count      122.000000               100.00000     122.000000
mean       296.401639              1395.94000   67659.016393
std        117.077544               165.67193   45043.370751
min        103.000000              1165.00000       0.000000
25%        191.250000              1286.00000   42175.000000
50%        298.500000              1370.00000   76700.000000
75%        384.250000              1504.00000   95075.000000
max        496.000000              1702.00000  227600.000000

In [7]:
df.isnull().sum()

customerNumber              0
customerName                0
contactLastName             0
contactFirstName            0
phone                       0
addressLine1                0
addressLine2              100
city                        0
state                      73
postalCode                  7
country                     0
salesRepEmployeeNumber     22
creditLimit                 0
dtype: int64

In [8]:
df.drop(columns=['addressLine2'], inplace=True)

In [9]:
df.head(1)

,customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit
0,103,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",Nantes,NaN,44000,France,1370.0,21000.0

In [10]:
df['salesRepEmployeeNumber'] = df['salesRepEmployeeNumber'].fillna('Not Assigned')

In [11]:
df = df[df['postalCode'].notna()]

In [12]:
df['state'] = df['state'].fillna('Not Assigned')

In [13]:
df.isnull().sum()

customerNumber            0
customerName              0
contactLastName           0
contactFirstName          0
phone                     0
addressLine1              0
city                      0
state                     0
postalCode                0
country                   0
salesRepEmployeeNumber    0
creditLimit               0
dtype: int64

In [14]:
df.duplicated().sum()

0

In [15]:
df['phone'].duplicated().sum()

1

In [16]:
df[df['phone'].duplicated(keep=False)]['phone']

58    6175558555
88    6175558555
Name: phone, dtype: object

In [17]:
df.loc[[58,88]]

,customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit
58,286,Marta's Replicas Co.,Hernandez,Marta,6175558555,39323 Spinnaker Dr.,Cambridge,MA,51247,USA,1216.0,123700.0
88,379,Collectables For Less Inc.,Nelson,Allen,6175558555,7825 Douglas Av.,Brickhaven,MA,58339,USA,1188.0,70700.0

In [18]:
df = df.drop(index=58)

In [19]:
df.shape

(114, 12)

In [20]:
df.dtypes

customerNumber              int64
customerName               object
contactLastName            object
contactFirstName           object
phone                      object
addressLine1               object
city                       object
state                      object
postalCode                 object
country                    object
salesRepEmployeeNumber     object
creditLimit               float64
dtype: object

In [21]:
df = df.astype({
    'customerName'           : 'string',               
    'contactLastName'        : 'string',              
    'contactFirstName'       : 'string',   
    'phone'                  : 'string',    
    'addressLine1'           : 'string',   
    'city'                   : 'string',    
    'state'                  : 'string',      
    'postalCode'             : 'string',   
    'country'                : 'string',     
    'salesRepEmployeeNumber' : 'string'
   
})

In [22]:
#df['phone'] = df['phone'].astype(float)

In [23]:
df[pd.to_numeric(df['phone'], errors='coerce').isna()].sample()

,customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit
21,169,Porto Imports Co.,de Castro,Isabel,(1) 356-5555,Estrada da saúde n. 58,Lisboa,Not Assigned,1756,Portugal,Not Assigned,0.0

In [24]:
df[pd.to_numeric(df['salesRepEmployeeNumber'], errors='coerce').isna()].sample()

,customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit
113,477,Mit Vergnügen & Co.,Moos,Hanna,0621-08555,Forsterstr. 57,Mannheim,Not Assigned,68306,Germany,Not Assigned,0.0

In [25]:
df.dtypes

customerNumber                     int64
customerName              string[python]
contactLastName           string[python]
contactFirstName          string[python]
phone                     string[python]
addressLine1              string[python]
city                      string[python]
state                     string[python]
postalCode                string[python]
country                   string[python]
salesRepEmployeeNumber    string[python]
creditLimit                      float64
dtype: object

In [26]:
df = df.rename(columns={
    'customerName': 'companyName',
    'addressLine1': 'address'
})

In [28]:
df.columns

Index(['customerNumber', 'companyName', 'contactLastName', 'contactFirstName',
       'phone', 'address', 'city', 'state', 'postalCode', 'country',
       'salesRepEmployeeNumber', 'creditLimit'],
      dtype='object')

In [27]:
#df.to_csv("cleaned_data.csv", index=False)